html,
body,
h1,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 1024px;
}

i.iconfont {
  margin-right: 8px;
}

.el-submenu__title,
.el-menu-item {
  font-size: 13px;
}

.el-card {
  margin-top: 15px;
}

.el-table {
  margin-top: 15px;
  font-size: 12px;
}

.el-pagination {
  font-size: 12px;
  margin-top: 15px;
}

.el-select-dropdown__item {
  font-size: 12px;
}

.el-dialog__body {
  font-size: 12px;
}

.el-input__inner {
  font-size: 12px;
}

.el-tree-node__label {
  font-size: 12px;
}
